.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-qr--poiter:hover .header__navbar-qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    min-height: 26px;  /* Để min-height chẵn sẽ căn được giữa chữ vs icon */
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-qr {
    position: absolute;
    left: 0;
    top: 100%;
    width: 186px;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__qr-img {
    width: 100%;
}

.header__navbar-qr-app {
    display: flex;
    justify-content: space-between;
}

.header__navbar-app-link {

}

.header__navbar-app-img {
    height: 15px;
}